body
{
    background-color: #86BBD8;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    font-family: 'Open Sans', sans-serif;
}


#title
{
    font-size: 100px;
    width: 100%;
    margin: 20px;
    padding: 25px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: #FFFFFC;
}

.inner-title {
  margin-bottom: 30px;
  font-family: 'Yantramanav', sans-serif;
  color: #215F81;
}

#loginName, #loginPassword
{
  color: #215F81;
  font-family: 'Yantramanav', sans-serif;
  letter-spacing: .5px;
  opacity: 1;
}

#register-link {
  margin-top: 80px;
}

#inner-regTitle{
    display: inline-block;
    font-size: 1em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Yantramanav', sans-serif;
    color: #215F81;
}
/* #inner-title{
    font-size: 200px;
    width: 90%;
    text-align: center;
    padding: 10px;
	  font-family: 'Titillium Web', sans-serif;
    color: #FFFFFF;
} */

#registerDiv1
{
	width: 30%;
    border-radius: 25px;
    font-size: 30px;
	margin-left: 2%;
    margin-right: 5%;
    padding: 25px;
    background-color: #D4E8F3;
}
#registerDiv2
{
    border-radius: 25px;
    font-size: 30px;
    width: 50%;
    margin-left: 5%;
	margin-right: 2%;
    padding: 25px;
    background-color: #D4E8F3;
}

/* Login Screen */
#loginDiv
{
    border-radius: 40px;
    margin: 20px auto 20px;
    width: 80%;
    text-align: center;
    padding: 5px;
    background-color: #D4E8F3;
    background-color: rgba(212, 232, 243, 0.6);
    -webkit-box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
    box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn:focus {
  outline: none !important;
}

/* .buttons
{
    font-size: 30px;
    outline-style: none;
    border: none;
    width: 100%;
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent;
    align-self: center;
} */

/* .buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
} */

#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 25px;
    border-color: #86BBD8;
    border-width: medium;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Yantramanav', sans-serif;
}

#inner-title{
    display: inline-block;
    font-size: 1em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Yantramanav', sans-serif;
    color: #215F81;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Yantramanav', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}
a {
  color: white;
}
a:link {
  color: white;
}

a:hover {
  color: white;
  font-weight: bold;
}
