/*
CSS Structure
1. Title & Subtitle
2. Login
3. Register
4. Homepage
  a. Header
  b. Filters
  c. Contact Book
    - Info view (hover)
    - edit view (hover)
  d. Add/Delete sidebar
5. Hyperlinks
*/

body
{
    background-color: #86BBD8;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Open Sans', sans-serif;
}

/* 1. Title & Subtitle */
#title
{
    font-size: 100px;
    width: 100%;
    margin: 20px;
    padding: 25px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: #FFFFFC;
}

input[type="text"],input[type="password"], input[type="email"], input[type="tel"]{
    border-radius: 25px;
    border-color: #86BBD8;
    border-width: medium;
    text-align: center;
    width: 100%;
    margin: 0 20 20 0;
    padding-bottom: 15px;
    font-family: 'Yantramanav', sans-serif;
}

.inner-title {
  margin-bottom: 30px;
  font-family: 'Yantramanav', sans-serif;
  color: #215F81;
}

/* 2. Login */

#loginDiv
{
    border-radius: 40px;
    margin: 40px auto 60px;
    width: 80%;
    height: 350px;
    text-align: center;
    padding: 5px;
    background-color: #D4E8F3;
    background-color: rgba(212, 232, 243, 0.6);
    -webkit-box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
    box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
}

#loginName, #loginPassword, #signup-label
{
  color: #215F81;
  font-family: 'Yantramanav', sans-serif;
  letter-spacing: .5px;
  opacity: 1;
}

#loginResult{
    display: inline-block;
    font-size: 1em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Yantramanav', sans-serif;
    color: #95060a;
}

/* 3. Register */

#introDiv
{
  text-align: center;
  background-color: transparent;
  margin: 90px auto 0px;
  padding-bottom: 20px;
  height: 550px;
  border: none;
}

#registerDiv
{
  border-radius: 40px;
  margin: 120px auto 120px;
  height: 550px;
  line-height: 20px;
  text-align: center;
  background-color: rgba(212, 232, 243, 0.6);
  -webkit-box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
  box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
}

#ignoreDiv
{
  border-radius: 40px;
  margin: 120px auto 120px;
  height: 550px;
  line-height: 20px;
  text-align: center;
  background-color: rgba(212, 232, 243, 0.6);
  -webkit-box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
  box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
}


#registerTitle
{
  font-size: 12.5vmax;
  width: 100%;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  color: #FFFFFC;
}

#introHeader
{
  font-family: 'Yantramanav', sans-serif;
  font-weight: bold;
  font-size: 3vmin;
  padding-bottom: 10px;
  /* font-size: 25px; */
  letter-spacing: 0.1em;
  color: #215F81;
}

#introBody
{
  font-size: 5.5vmin;
  margin: 30px 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: #FFFFFC;
}

#register-link {
  margin-bottom: 50px;
}

/* Homepage */
/* Navbar */
.homepage
{
    background-color: white;
}

.navbar
{
  margin: 0px;
  padding: 0px;
  background-color: rgba(212, 232, 243, 0.6);
  height: 80px;
}

.search-bar
{
  width: 50%;
  padding-left: 5px;
  /* padding: 20 20 20 20; */
}

input[type="search"]
{
    border-radius: 25px;
    border-color: #86BBD8;
    border-width: medium;
    width: 30px;
    text-align: center;
    /* margin-top: .5px; */
    /* padding-bottom: 15px; */
    font-family: 'Yantramanav', sans-serif;
}

.navbar-name
{
  font-family: 'Titillium Web', sans-serif;
  font-size: 7vmin;
  color: #242325;
}

.filters
{
  color: #215F81;
  font-size: 15px;
  font-weight: bold;
}

.filters-inline
{
  display: inline-table;
  vertical-align: middle;
  padding-left: 20px;
  padding-bottom: 10px;
}

.filters-button
{
  color: #242325;
  font-size: 8px;
  vertical-align: middle;
}


/* Homepage */
/* Contact Book */

.contact-table-head
{
  font-size: 60px;
  padding-top: 100px;
  padding-left: 25px;
  padding-bottom: 15px;
  color: #215F81;
  font-family: 'Yantramanav', sans-serif;
}
.contact-table
{
  /* top: 180px; */
  /* height: 100vh; */
  width: 100%;
}

#myTable
{
  font-size: 17px;
  border-bottom-color: #D4E8F3;
  font-family: 'Open Sans', sans-serif;
}

#contactName
{
  font-size: 20px;
}

.hover-buttons
{
  padding: 2px;
  z-index: 5;
  float: right;
}

.info-card
{
  outline: none;
  border: none;
  background-color: transparent;
}

.table tbody tr:hover td, .table tbody tr:hover th .info-card:hover{
    background-color: rgba(212, 232, 243, 0.6);
    box-shadow: 0 8px 6px -6px gray;
}

/* Homepage */
/* Add/Delete sidebar */

.add-contact
{
  /* position: absolute; */
  padding-top: 140px;
  right: 5px;
  color: #215F81;
  font-size: 20px;
  height: 0px;

}

.form-group {
  text-align: center;
}

.address-group {
  border-radius: 25px;
  border-color: #86BBD8;
  border-width: medium;
  text-align: center;
  width: 100%;
  margin: 30px auto;
  /* width: 450px; */
  padding-bottom: 30px;
}

.address-group:focus
{
  outline: none;
}

.form-control {
  float: left;
}

#inputStreet {
  width: 100%;
}

#inputCity {
  width: 50%;
}

#inputState {
  width: 15%;
}

#inputZip {
  width: 28%;
}

#inputCounty {
  width: 45%;
}

#inputCountry {
  width: 50%;
}

input[type="street"],input[type="city"],
input[type="state"],input[type="zip"],
input[type="country"]
{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #86BBD8;
    border-width: medium;
    text-align: center;
    width: 100%;
    margin: 0 20 20 0;
    padding-bottom: 15px;
    font-family: 'Yantramanav', sans-serif;
}

.modal-backdrop{
   background-color: #01223770;
}

.modal-footer, .modal-title
{
  align-content: center;
}

.modal-backdrop {
   background: none;
}

#inner-regTitle{
    display: inline-block;
    font-size: 1em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Yantramanav', sans-serif;
    color: #215F81;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn:focus {
  outline: none !important;
}

/* .buttons
{
    font-size: 30px;
    outline-style: none;
    border: none;
    width: 100%;
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent;
    align-self: center;
} */

/* .buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
} */

#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

#inner-title{
    display: inline-block;
    font-size: 1em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Yantramanav', sans-serif;
    color: #215F81;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

/* Hyperlinks */

a {
  outline: none;
}
a:link {
  color: white;
}

a:active {
  outline: none;
}

a:hover {
  color: white;
  font-weight: bold;
}
