/*
CSS Structure
0. General Body
1. Title & Subtitle
2. Login
3. Register
4. Homepage
  a. Header
  b. Filters
  c. Contact Book
    - Info view (hover)
    - edit view (hover)
  d. Add/Delete
5. Sidebar Menu
6. Hyperlinks
*/

/* General Body */
.wrapper {
    display: block;
}

.content {
    width: 100%;
    transition: all 0.5s;
}

body
{
    background-color: #86BBD8;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Open Sans', sans-serif;
}

/* 1. Title & Subtitle */
#title
{
    font-size: 100px;
    width: 100%;
    margin: 20px;
    padding: 25px;
    text-align: center;
    font-family: 'Titillium Web', 'IBM Plex Sans', sans-serif;
    font-style: italic;
    color: #FFFFFC;
}

#homePageLogo
{
  font-size: 15vmin;
	height: 120px;
	width: 300px;
  margin: 20px;
	position: relative;
	line-height: 125px;
	font-family: 'Titillium Web', 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
	text-align: center;
	justify-content: center;
  color: #86BBD8;

	/*Text border*/
	-webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #FFFFFC;

	/* Shine effect */
	background-color: #86BBD8;
	background-image: linear-gradient(
		-75deg,
		transparent 0,
		transparent 5%,
		rgba(255, 255, 255, 0.2) 5%,
		rgba(255, 255, 255) 10%,
		transparent 10%,
		transparent 100%
	);
	background-size: 200% 100%;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
  transition: 1.2s;
  
  /*Inner shadow*/
  /* text-shadow:
    3px  3px 0 #86BBD8,
    -1px -1px 0 #86BBD8,
     1px -1px 0 #86BBD8,
    -1px  1px 0 #86BBD8,
     1px  1px 0 #86BBD8; */
}

#homePageLogo:hover
{
  background-position: -120% 0;
  cursor: pointer;
}

/*#homePageLogo:after
{
	animation: shine 5s ease-in-out  infinite;
	animation-fill-mode: forwards;
	content: "";
	position: absolute;
	top: -110%;
	left: -210%;
	width: 200%;
	height: 200%;
	opacity: 0;
	transform: rotate(30deg);

	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;

	background-color: rgba(212, 232, 243, 0.6);

	background-image: linear-gradient(
		to right,
		rgba(212, 232, 243, 0.13) 0%,
		rgba(212, 232, 243, 0.13) 77%,
		rgba(212, 232, 243, 0.5) 92%,
		rgba(212, 232, 243, 0.0) 100%
	);
}

#homePageLogo:active:after
{
  opacity: 0;
}*/

@keyframes shine
{
  10%
  {
    top: -30%;
    left: -30%;
    transition-property: left, top;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  100%
  {
    top: -30%;
    left: -30%;
    transition-property: left, top;
  }
}

input[type="text"],input[type="password"], input[type="email"]{
    border-radius: 25px;
    border-color: #86BBD8;
    border-width: medium;
    text-align: center;
    width: 100%;
    margin: 0 20 20 0;
    padding-bottom: 15px;
    font-family: 'Yantramanav', sans-serif;
}

input[type="deleteInput"]:disabled
{
  background-color: #D4E8F3;
  border-radius: 25px;
  border-color: #FFFFFC;
}
input[type="deleteInput"]
{
  color: #FFFFFC;
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 2%;
  padding-bottom: 15px;
  font-family: 'Yantramanav', sans-serif;
}

.inner-title {
  margin-bottom: 30px;
  font-family: 'Yantramanav', sans-serif;
  color: #215F81;
}

/* 2. Login */

#loginDiv
{
    font-family: 'Yantramanav', sans-serif;
    border-radius: 40px;
    margin: 40px auto 60px;
    width: 90%;
    height: 80%;
    text-align: center;
    padding: 5px;
    color: #215F81;
    background-color: #D4E8F3;
    background-color: rgba(212, 232, 243, 0.6);
    -webkit-box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
    box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
}

#loginName, #loginPassword, #signup-label #signupCond
{
  color: #215F81;
  font-family: 'Yantramanav', sans-serif;
  letter-spacing: .5px;
  opacity: 1;
}

#loginResult{
    display: inline-block;
    font-size: 1em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Yantramanav', sans-serif;
    color: #95060a;
}

/* 3. Register */

#introDiv
{
  text-align: center;
  background-color: transparent;
  margin: 90px auto 0px;
  padding-bottom: 20px;
  height: 550px;
  border: none;
}

#registerDiv
{
  color: #215F81;
  font-family: 'Yantramanav', sans-serif;
  border-radius: 40px;
  margin: 120px auto 30px;
  height: 550px;
  line-height: 20px;
  text-align: center;
  background-color: rgba(212, 232, 243, 0.6);
  -webkit-box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
  box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
}

.signup-redirect
{
  /* padding-top: 30px; */
  font-family: 'Open Sans', sans-serif;
  color: #242325;
}

#login-click:hover
{
  text-decoration: none;
  color: #FFFFFC;
}

#ignoreDiv
{
  border-radius: 40px;
  margin: 120px auto 120px;
  height: 550px;
  line-height: 20px;
  text-align: center;
  background-color: rgba(212, 232, 243, 0.6);
  -webkit-box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
  box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
}


#registerTitle
{
  font-size: 12.5vmax;
  width: 100%;
  text-align: center;
  font-family: 'Titillium Web', 'IBM Plex Sans', sans-serif;
  color: #FFFFFC;
}

#introHeader
{
  font-family: 'Yantramanav', sans-serif;
  font-weight: bold;
  font-size: 3vmin;
  padding-bottom: 10px;
  /* font-size: 25px; */
  letter-spacing: 0.1em;
  color: #215F81;
}

#introBody
{
  font-size: 5.5vmin;
  margin: 30px 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: #FFFFFC;
}

#register-link {
  margin-bottom: 50px;
}

/* Homepage */
/* Navbar */
.homepage
{
    background-color: white;
}

.navbar
{
  margin: 0px;
  padding-top: 10px;
  background-color: rgba(212, 232, 243, 0.6);
  height: 30%;
  line-height: .75em;
  display: flex;
}
.navbar wrap
{
	align-self: flex-end;
}
.search-bar
{
  width: 30%;


}

input[type="search"]
{
    border-radius: 25px;
    border-color: #86BBD8;
    border-width: medium;
    width: 30px;
    text-align: center;
    /* margin-top: .5px; */
    /* padding-bottom: 15px; */
    font-family: 'Yantramanav', sans-serif;
}

.navbar-name
{
  font-family: 'Titillium Web', sans-serif;
  font-size: 4em;
  color: #242325;
  font-weight: 600;
  padding-right: 10px;
  padding-left:10px;
}

h1, #usernameDisplay
{
	font-size: 8vmin;

    /*margin: 20px;*/
    /*text-align: center;
	font-weight: 600;
	justify-content: center;*/
	font-family: 'Titillium Web', 'IBM Plex Sans', sans-serif;

    font-style: normal;
    color: #242325;
	padding-right: 10px;
	padding-left: 10px;

    /* Inner shadow */
    /* text-shadow:
     3px  3px 0 #86BBD8,
    -1px -1px 0 #86BBD8,
     1px -1px 0 #86BBD8,
    -1px  1px 0 #86BBD8,
     1px  1px 0 #86BBD8; */
}

#logOut
{
	font-size: 2vmin;
	font-weight: normal;
	line-height: 0em;
  padding-right: 10px;
  border: #FFFFFC;
	padding-left: 10px;
}

.filters
{
  color: #215F81;
  font-size: 15px;
  font-weight: bold;
}

.filters-inline
{
  display: inline-table;
  vertical-align: middle;
  padding-left: 20px;
  padding-bottom: 10px;
}

.filters-button
{
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #86BBD8;
  border-width: 3px;
  color: #215F81;
  font-size: 8px;
  margin-right: 5px;
  vertical-align: middle;
}

.filters-button:hover
{
  text-decoration: none;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #86BBD8;
  
}

.filters-button:active, .filters-button:focus
{
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  color: #86BBD8;
  text-decoration: none;
}

/* Homepage */
/* Contact Book */

.contact-table-head
{
  font-size: 60px;
  /*padding-top: 100px;*/
  padding-left: 25px;
  padding-bottom: 20px;
  color: #215F81;
  font-family: 'Yantramanav', 'Open Sans', sans-serif;
}
.contact-table
{
  /* top: 180px; */
  /* height: 100vh; */
  width: 100%;
}

#myTable
{
  font-size: 18px;
  /* border-bottom-color: #D4E8F3; */
  font-family: 'Open Sans', sans-serif;
  border: none;
}

#contactName
{
  font-size: 20px;
}

.hover-buttons
{
  padding: 2px;
  z-index: 5;
  float: right;
}

.info-card
{
  border: none;
  background-color: transparent;
}

.table tbody tr:hover td, .table tbody tr:hover th .info-card:hover{
    background-color: rgba(212, 232, 243, 0.6);
    box-shadow: 0 8px 6px -6px gray;
}

#address-block
{
  float:left;
  line-height: 2;
}

#phone-email-block
{
  float: right;
  line-height: 2;
}

/* Homepage */
/* Add/Delete sidebar */


#deleteContactInfo
{
  color: #242325;
  padding-top: 50px;
  text-align: center;
}

#deleteName
{
  color: #242325;
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 6vmin;
}

#deleteAddress, #deletePhoneNumber, #deleteEmail
{
  display: inline;
  color: #242325;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

#addContact,.add-contact
{
  float: right;
  font-size: 20px;
  width: 20%;
  position: relative;
  top: 30px;
  left: 100px;
  height: 40px;
  bottom: 0;
  color: #215F81;
  border-color: #86BBD8;
  border-top: #D4E8F3;
  border-right: #D4E8F3;
  border-left: #D4E8F3;
  border-width: 4px;
}

#addContact:hover, .add-contact:hover
{
  text-decoration: none;
  color: #86BBD8;
  border-color: #86BBD8;
}

#addContact:active, #addContact:focus .add-contact:focus, .add-contact:active{
  text-decoration: none;
  outline: 0 none !important;

}
.sidebar-footer
{
  font-size: 1vmin;
  color: #215F81
}

#inner-regTitle{
    display: inline-block;
    font-size: 1em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Yantramanav', sans-serif;
    color: #215F81;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn:focus {
  outline: none !important;
}

div.fixedTopButt {
  position: fixed;
  bottom: 20px;
  right: 30px;
  bottom: 10px;
  font-size: 18px; /* Increase font size */
  font-family: 'Open Sans', sans-serif;
} 

#topBtn {
  display: none; /*Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  /*outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
   /*background-color: rgba(212, 232, 243, 0.6); Set a background color */
  color: #215F81; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  /* border-radius: 25px;  Rounded corners */

}

#topBtn:hover
{
  color: #86BBD8;
}

/* .buttons
{
    font-size: 30px;
    outline-style: none;
    border: none;
    width: 100%;
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent;
    align-self: center;
} */

/* .buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
} */

#colorText, #searchText
{
	font-size: 30px;
}

#inner-title{
    display: inline-block;
    font-size: 1em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Yantramanav', sans-serif;
    color: #215F81;
}

#usernameDisplay
{
  /* color: #242325; */
  border: none;
  /* text-shadow: none; */
  font-style: normal;
}

/* Sidebar */

.sidebar {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 450px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -450px;
    z-index: 999;
    background-color: rgba(212, 232, 243);
    color: #215F81;
    transition: all .5s;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
}

.sidebar.active {
    right: 0;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(51, 51, 51, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.overlay.active {
  transition: all .5s;
  display: block;
  opacity: 0.5;

}

.add-header, .edit-header, .delete-header
{
  text-align: center;
}
.add-info, .edit-info, .delete-info
{
  margin: 5%;
  text-align: center;
}

.address-field
{
  border-radius: 25px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #86BBD8;
  border-width: medium;
  text-align: center;
  width: 100%;
  margin-bottom: 2%;
  padding-bottom: 15px;
  font-family: 'Yantramanav', sans-serif;
}


#edit-contact div p
{
    color: red;
    display:none;
}


#add-contact div p
{
    color: red;
    display:none;
}



/* Hyperlinks */

a {
  color:#215F81;
  text-decoration: none;
}

.sidebar-button
{
  color: #215F81;
  border-color: #86BBD8;
  border-top: #D4E8F3;
  border-right: #D4E8F3;
  border-left: #D4E8F3;
  border-width: 4px;
  margin-right: 15px;
  font-size: 2.5vmin;
}

.sidebar-button:hover
{
  text-decoration: none;
  color: #86BBD8;
  border-color: #86BBD8;
}

.btn,.btn:hover, .btn:focus
{
  outline: none !important;
  text-decoration: none;
}