/*
CSS Structure
1. Title & Subtitle
2. Login
3. Register
*/

body
{
    background-color: #86BBD8;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    font-family: 'Open Sans', sans-serif;
}

/* 1. Title & Subtitle */
#title
{
    font-size: 100px;
    width: 100%;
    margin: 20px;
    padding: 25px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: #FFFFFC;
}

input[type="text"],input[type="password"], input[type="email"]{
    border-radius: 25px;
    border-color: #86BBD8;
    border-width: medium;
    text-align: center;
    width: 100%;
    margin: 0 20 20 0;
    padding-bottom: 15px;
    font-family: 'Yantramanav', sans-serif;
}

.inner-title {
  margin-bottom: 30px;
  font-family: 'Yantramanav', sans-serif;
  color: #215F81;
}

/* 2. Login */

#loginDiv
{
    border-radius: 40px;
    margin: 40px auto 60px;
    width: 80%;
    height: 350px;
    text-align: center;
    padding: 5px;
    background-color: #D4E8F3;
    background-color: rgba(212, 232, 243, 0.6);
    -webkit-box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
    box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
}

#loginName, #loginPassword, #signup-label
{
  color: #215F81;
  font-family: 'Yantramanav', sans-serif;
  letter-spacing: .5px;
  opacity: 1;
}

#loginResult{
    display: inline-block;
    font-size: 1em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Yantramanav', sans-serif;
    color: #95060a;
}

/* 3. Register */

#introDiv
{
  text-align: center;
  background-color: transparent;
  margin: 90px auto 0px;
  padding-bottom: 20px;
  height: 550px;
  border: none;
}

#registerDiv
{
  border-radius: 40px;
  margin: 120px auto 120px;
  height: 550px;
  text-align: center;
  background-color: rgba(212, 232, 243, 0.6);
  -webkit-box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
  box-shadow: -2px 22px 32px -24px rgba(0,0,0,0.75);
}

#registerTitle
{
  font-size: 150px;
  width: 100%;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  color: #FFFFFC;
}

#introHeader
{
  font-family: 'Yantramanav', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 10px;
  /* font-size: 25px; */
  letter-spacing: 0.1em;
  color: #215F81;
}

#introBody
{
  font-size: 50px;
  margin: 30px 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: #FFFFFC;
}

#register-link {
  margin-bottom: 50px;
}

#inner-regTitle{
    display: inline-block;
    font-size: 1em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Yantramanav', sans-serif;
    color: #215F81;
}
/* #inner-title{
    font-size: 200px;
    width: 90%;
    text-align: center;
    padding: 10px;
	  font-family: 'Titillium Web', sans-serif;
    color: #FFFFFF;
} */

/* #registerDiv1
{
	width: 30%;
    border-radius: 25px;
    font-size: 30px;
	margin-left: 2%;
    margin-right: 5%;
    padding: 25px;
    background-color: #D4E8F3;
}
#registerDiv2
{
    border-radius: 25px;
    font-size: 30px;
    width: 50%;
    margin-left: 5%;
	margin-right: 2%;
    padding: 25px;
    background-color: #D4E8F3;
} */



#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn:focus {
  outline: none !important;
}

/* .buttons
{
    font-size: 30px;
    outline-style: none;
    border: none;
    width: 100%;
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent;
    align-self: center;
} */

/* .buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
} */

#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

#inner-title{
    display: inline-block;
    font-size: 1em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Yantramanav', sans-serif;
    color: #215F81;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

/* Hyperlinks */

a {
  color: white;
}
a:link {
  color: white;
}

a:hover {
  color: white;
  font-weight: bold;
}
